* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: Verdana;
}

.contenedor-form {
    background: #fff;
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    color: #000000;
    border-radius: 5px;
    position: relative;
}

.contenedor-form {
	box-shadow: 2px 2px 5px #999;
}

.form {
  padding: 40px;
}

.contenedor-form h2 {
	top: 0;
  right: 0;
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"] {
  outline: none;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #12bae4;
  font-family: Verdana;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px 0;
  transition: all .5s ease;
	box-shadow: 4px 2px 10px 2px #a5a5a5;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus {
    border-bottom: 4px solid #7ac943;
  }

.contenedor-form input[type="submit"]{
    background: #7ac943;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: Calibri;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor-form input[type="submit"]:hover {
    background: rgba(0,177,217,0.7);
  }

.contenedor-form .reset-password {
    background: #12bae4;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    bottom: 0;
  }

.contenedor-form .reset-password a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.logo-div {
	position: relative;
}

.logo-div img{
	position: absolute;
	right: 4px;
	top: -26px;
	height: 50px;
}
