*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana;
}

.contenedor-form {
    background: #fff;
    width: 500px;
    margin: 100px auto 20px auto;
    color: #000000;
    border-radius: 5px;
    position: relative;
}

.contenedor-form h2 {
  top: 0;
  right: 0;
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}


.logo-div {
  position: relative;
}

.logo-div img{
  position: absolute;
  right: 4px;
  top: -26px;
  height: 50px;
}

