<!DOCTYPE html>
<html>
	<head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Beliveo bBox - Powered by people</title>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<link href="src/client/pages/home/css/styles.css" rel="stylesheet" type="text/css"/>
	</head>
  <body>
    <div class="contenedor-form">
      <form action="#" class="form">
        <div class="logo-div">
          <h2>Login</h2>
          <img src="src/client/pages/home/img/beliveo logo.png" border="0">
        </div>
      <input id="username" type="text" placeholder="User" required>
      <input id="password" type="password" placeholder="Password" required>
      <input id="submit_form" type="submit" value="Log in">
      </form>
    </div>
		<script type="text/javascript" src="src/client/pages/home/components/LoginForm/index.js"></script>
  </body>
</html>
